body {
  height: 4800px;
  background-color: #000119;
  margin: 0;
  padding: 0;
}



.rt li {
  display: inline-flex;
  margin: 30px;
  line-height: 12px;
  margin-left: 90px;
  font-size: 20px;
  
}
.rt {
  border: 0.5px solid;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color:#000119;
}

.search-box {
  display: flex;
  position: absolute;
  left: 1130px;
  top: 20px;
  background:rgb(255, 238, 0);
  height: 20px;
  border-radius: 40px;
  padding: 10px;
}

.search-txt {
  border:none ;
  background:none ;
  outline:none ;
  float: left;
  padding: 0;
  color:black;
  font-size: 20px;
  transition: 0.4s;
  line-height: 20px;
  width: 230px;
}
.icon {
  position: absolute;
  color: black;
  left: 1350px;
  top: 35px;
}

.Log {
  position: relative;
}
.Log {
  position: absolute;
  left: 1400px;
  top: 20px;
  font-size: 15px;
  border-radius: 25px;
  padding: 3px;
  width: 100px;
  height: 40px;
  background:rgb(255, 238, 0) ;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(255, 238, 0); ;
  
}

.first1 {
  position: relative;
}

.first1 h1 {
  position: absolute;
  font-size: 30px;
  left: 650px;
  top: 100px;
  color: white;
  text-align: center;
}

.first1 img {
  position: absolute;
  width: 800px;
  left: 335px;
  top: 200px;
}

.line1 {
  position: absolute;
  margin-top: 150px;
  height: 5px;
  width: 300px;
  margin-left: 560px;
  background-color: white ;
}

.first1 p {
  position: absolute;
  top: 700px;
  left: 300px;
  color: white;
  width: 900px;
  text-align: center;
}




.div1 {
  position: relative;
}

.div1 img {
  position: absolute;
  width: 800px;
  top: 880px;
  left: 335px;
}

.line2 {
  position: absolute;
  height: 5px;
  margin-top:1400px  ;
  margin-left: 240px;
  background-color: white;
  width: 1000px;
}

.second1 {
  position: relative;
}

.second1 h1  {
  position: absolute;
  font-size: 30px;
  top: 1600px;
  color: white;
  text-align: center;
  left: 650px;
}

.line3 {
  position: absolute;
  margin-top: 1650px;
  height: 5px;
  width: 300px;
  margin-left: 600px;
  background-color: white ;
}

.second1 img {
  position: absolute;
  top: 1700px;
  left: 335px;
  width: 800px;
}

.second1 p {
  position: absolute;
  top: 2200px;
  left: 300px;
  color: white;
  width: 900px;
  text-align: center;
}
.div2 {
  position: relative;
}

.div2 img {
  position: absolute;
  top:2350px ;
  left: 335px;
  width: 800px;
} 

.line4 {
  position: absolute;
  height: 5px;
  margin-top:2900px  ;
  margin-left: 240px;
  background-color: white;
  width: 1000px;
}

.third1 {
  position: relative;
}

.third1 h1 {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 3100px;
  left: 580px;
}

.line5 {
  position: absolute;
  margin-top: 3150px;
  height: 5px;
  width: 315px;
  margin-left: 580px;
  background-color: white ;
}

.third1 img {
  position: absolute;
  top: 3200px;
  width: 800px;
  left: 335px;
}

.third1 p {
  position: absolute;
  top: 3670px;
  left: 300px;
  color: white;
  width: 900px;
  text-align: center;
}

.div3 img {
  position:absolute;
  top:3870px;
  width: 800px;
  left: 335px;

}

.line6 {
  margin-top:4300px ;
  height: 5px;
  width: 1000px;
  margin-left:230px;
  background-color: white ;
}
.icon2 {
  position: absolute;
  top: 4600px;
  color: white;
  left: 500px;
  font-size: 40px;
}

.icon3 {
  position: absolute;
  top: 4600px;
  color: white;
  left: 600px;
  font-size: 40px;

}

.icon4 {
  position: absolute;
  top: 4600px;
  left: 700px;
  color: white;
  font-size: 40px;
}

.icon5 {
  position: absolute;
  top: 4600px;
  left: 800px;
  color:white;
  font-size: 40px;
}

.icon6 {
  position: absolute;
  top: 4600px;
  left: 900px;
  color: white;
  font-size: 40px;
}

.footer img {
  position: absolute;
  width: 70px;
  top: 4500px;
  left: 685px;
}


.lol1 {
  position: absolute;
  top: 260px;
  left: 685px;
  color: white;
}

.lol2 {
  position: absolute;
  top: 280px;
  left: 685px;
  color: white;
}

.lol3{
  position: absolute;
  top: 300px;
  left: 685px;
  color: white;
}

.lol4{
  position: absolute;
  top:320px;
  left: 685px;
  color: white;
}